# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.venv/
.env/

# Manim output
media/
output/
*.mp4
*.mov
*.gif
*.webm
*.ppt
*.pptx

# Jupyter
.ipynb_checkpoints/

# System/editor
.DS_Store
.vscode/
.idea/
